.assistens{
    margin-top: 100px;
}

.assistens__descriptions-header{
    margin-top: 50px;    
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 35px; 
}

.assistens__descriptions-content{
    display: block;    
    margin: 50px 20px 50px 20px;
    padding: 50px 40px 50px 40px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    border-radius: 30px;
    background-color: #b3b3b3;
}

.assistens__wrapper{
    display: flex;
    flex-direction: row;
}

.assistens__descriptions{
    flex: 65%;    
}

.assistens__img{
    flex: 35%;    
    background-image: url('../img/assistans_img.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; 
}

@media (max-width: 767px){
    .assistens__img{
        display: none;
    }

    .assistens__descriptions-content{
        display: block;    
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
        border-radius: 30px;
        background-color: #b3b3b3;
    }
}