.forClients{
    margin-top: 100px;
}

.forClients__wrapper{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.forClients__time{
    width: 370px;
    padding: 275px 30px 0px 30px; 
    text-align: center;
    height: 650px;   
    background-image: url('../img/keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.forClients__time-title{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}

.forClients__time-content{    
    font-size: 20px;
    margin-left: 10px;    
}


.forClients__contact{
    margin: 35% 5% 0 5%;
}

.forClients__contact-title{            
    line-height: 30px;
    font-size: 20px; 
       
}


.forClients__contact-wrapper{
    margin-top: 10px;
    display: flex;
    gap: 45px;
    flex-direction: row;  
    justify-content: space-between;  
}

.forClients__contact-icon{
    width: 50px;
    height: 50px;
    transition-duration: 0.75s;
}

.forClients__contact-icon:hover{
    width: 60px;
    height: 60px;
}  



.forClients__bonus{
    flex: 33%;
    padding: 50px 30px 0px 30px;
}

.forClients__bonus-item{
    margin-bottom: 20px;
    font-size: 25px;
    list-style:inside;
}


.forClients__bonus-title{
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.forClients__bonus-content{
    margin-bottom: 20px;
    font-size: 25px;
}




@media (max-width: 767px){
    .forClients{
        margin-top: 30px;
    }

    .forClients__wrapper{
        display: flex;
        gap: 220px;
        flex-direction: column;
    }

    .forClients__time{
        margin: 0 auto;
        padding: 30px 30px 0px 30px;
        background-image: none; 
        width: 95%;       
        background: rgba(71, 67, 67, 0.9);
        border-radius: 20px; 
        height: 160px
    }

    .forClients__contact{
        margin: 18% 5% 0 5%;
    }

    .forClients__time-title, .forClients__time-content{
        color: #ffffff;
    }
}



