.services {
    margin-top: 100px;
}

.services__wrapper{
    display: flex;
    flex-direction: row;
}

.services__contacts {
    width: 350px;
    height: 600px;
    flex-shrink: 0;
    padding-top: 285px;
    padding-left: 60px;
    padding-right: 30px;    
    background-image: url('../img/Contacts.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; 
}

.services__contacts-title{  
    color: white;
    font-size: 25px;
}

.services__contact{
    margin-top: 20px;     
}

.services__contact-wrapper{
    margin-top: 20px;
    display: flex;
    gap: 45px;
    flex-direction: row;
    
}

.services__contact-title{
    color: white;   
}


.services__contact-icon{
    width: 50px;
    height: 50px;
    transition-duration: 0.75s;
}

.services__contact-icon:hover{
    width: 60px;
    height: 60px;
}

.services__descriptions{
    width: 100%;
}

.services__descriptions-header{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 35px;    
}

.services__descriptions-item{
    line-height: 40px;
    margin-top: 60px;
    margin-left: 30px;
    color: black;
    font-weight: 700;
    font-size: 30px;
}


