/* .homePage__wrapper{
    width: 1280px; 
    height: 720px; 
    background-image: url('../img/Promo.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;  
    transform: scale();
} */


.titlePage__wrapper{
    background-image: url('../img/Promo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 720px; 
    background-color: black;
} 

.titlePage__brand {
    padding-top: 50px;
    padding-left: 40px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.titlePage__brand-descriptions{
    padding-top: 115px;
    padding-left: 40px;
    width: 100px;
    color: white;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
}

.titlePage__contact{
    margin-top: 90px;
    margin-left: 40px;    
}

.titlePage__contact-wrapper{
    margin-top: 20px;
    display: flex;
    gap: 25px;
    flex-direction: row;
    
}

.titlePage__contact-title{
    color: white;   
}


.titlePage__contact-icon{
    width: 50px;
    height: 50px;
    transition-duration: 0.75s;
}

.titlePage__contact-icon:hover{
    width: 60px;
    height: 60px;
}


@media (max-width: 1199px){
    .titlePage__brand{
        
    }

    .titlePage__contact{
        display: none;
    }
}

@media (max-width: 767px){

}