.typesAssistans{
    margin-top: 100px;
} 

.typesAssistans__title{
       
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 35px; 
    opacity: 0.5;
}

.typesAssistans__card-wrapper{
    display: flex;
    gap: 100px;
}

.typesAssistans__card{
    height: 800px;
    flex: 30%;    
    padding: 30px;
    font-size: 20px;
    font-weight: 700;    
    border-radius: 30px;
    background-image: url('../img/laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.typesAssistans__card-title{
    margin-top: 180px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.typesAssistans__card-content{
    margin-top: 20px;
    line-height: 30px;
    text-align: center;  
    color: white;  
    font-size: 20px;
    font-weight: 300;
}

.typesAssistans__contact{    
    text-align: center;
}

.typesAssistans__contact{
    margin-top: 50px;
      
}

.typesAssistans__contact-wrapper{
    margin-top: 20px;    
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: row;    
}

.typesAssistans__contact-title{
    color: black;   
    font-size: 20px;
    font-weight: 500;
}


.typesAssistans__contact-icon{
    width: 50px;
    height: 50px;
    transition-duration: 0.75s;
}

.typesAssistans__contact-icon:hover{
    width: 60px;
    height: 60px;
}

@media (max-width: 1099px){
    .typesAssistans__card-title{
        margin-top: 0px;
    }
}

@media (max-width: 767px){
    .typesAssistans__card-wrapper{
        flex-direction: column;
        gap: 30px;
    }
}
